<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:insert="admin/header"></div>
<head>

</head>
<body>


<div class="row">
    <div class="col-md-3 menuWidth">

        <div th:insert="admin/navigation"></div>

    </div>


    <div class="col-md-9">
         <div class="maindiv">

                <div class="card">
                     <div class="card-body">
                        <h5 class="card-title">Welcome to Portal </h5>
                        <p class="card-text">Your details are here</p>
                    <!--     <span sec:authentication="principal.authorities"></span>-->

                        <table class="table">
                            <tbody>
                            <tr>
                                <th>FirstName</th>
                                <td th:text="${userDetails.firstName}"></td>
                            </tr>
                            <tr>
                                <th>Last Name</th>
                                <td th:text="${userDetails.lastName}"></td>

                            </tr>
                            <tr>
                                <th>UserId</th>
                                <td th:text="${userDetails.userName}"></td>

                            </tr>
                            <tr>
                                <th>Email</th>
                                <td th:text="${userDetails.email}"></td>

                            </tr>
                            <tr>
                                <th>Role</th>
                                <td th:text="${userDetails.roles.roleName}"></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>



        </div>
    </div>
</div>


<script type="text/javascript" src="../../static/js/main.js"></script>
admin page
</body>
</html>
