
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- <div th:replace="fragments/header :: header-css"/>-->

<title>CGI Portal </title>
<script type="text/javascript"   th:src="@{/js/main.js}"></script>
<!-- <link rel="stylesheet" type="text/css"  href="../../static/css/home.css" />
<link rel="stylesheet" type="text/css"  href="../../static/css/style.css" />-->

<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />


<link href="https://fonts.googleapis.com/css?family=Poppins:600" rel="stylesheet"/>
<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

<head>

</head>
<body>

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="row">
        <div class="col-md-4">
            <div class="img">
                <img   th:src="@{/images/cgi.jpg}"   class="rounded" alt=""/>
            </div>
        </div>

        <div class="col-md-2">
            <h2 style="color: white">Portal </h2>
        </div>
    </div>


</nav>


    <div class="row">
        <div class="col-md-3 menuWidth">


            <div class="wrapper">
                <!-- Sidebar -->
                <nav id="sidebar">
                    <div class="sidebar-header">
                        <h3>  Admin  Navigation</h3>
                    </div>

                    <ul class="list-unstyled components">
                       <!-- <p>Dummy Heading</p>-->
                        <li class="active">
                            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                            <ul class="collapse list-unstyled" id="homeSubmenu">
                                <li>
                                    <a href="/admin/home?module=users">Users</a>
                                </li>
                                <li>
                                    <a href="#">Roles</a>
                                </li>
                                <li>
                                    <a href="#">Facilities Managment</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">File Upload</a>
                        </li>
                       <!-- <li>
                            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                            <ul class="collapse list-unstyled" id="pageSubmenu">
                                <li>
                                    <a href="#">Page 1</a>
                                </li>
                                <li>
                                    <a href="#">Page 2</a>
                                </li>
                                <li>
                                    <a href="#">Page 3</a>
                                </li>
                            </ul>
                        </li>-->
                        <li>
                            <a href="#">Case Managment</a>
                        </li>
                        <li>
                            <a href="#">Reports</a>
                        </li>
                    </ul>

                </nav>
                <!-- Page Content -->
               <!-- <div id="content">

                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">

                            <button type="button" id="sidebarCollapse" class="btn btn-info">
                                <i class="fas fa-align-left"></i>
                                <span>Toggle Sidebar</span>
                            </button>
                        </div>
                    </nav>
                </div>-->
            </div>








        </div>

        <div class="col-md-9">
          <!--  <h2 style="color: white">Portal </h2>-->
            <div class="maindiv">
                <div  th:if="${filter == null}" >
                <div class="card"  >
                  <!--  <img class="card-img-top" src="..." alt="Card image cap">-->
                    <div class="card-body">
                        <h5 class="card-title">Welcome to Portal </h5>
                        <p class="card-text">Your details are here</p>
                      <!--  <a href="#" class="btn btn-primary">Go somewhere</a>-->

                        <table class="table">
                            <tbody>
                            <tr>
                                <th>FirstName</th>
                                <td>Admin1</td>
                            </tr>
                            <tr>
                                <th>Last Name</th>
                                <td>Admin2</td>

                            </tr>
                            <tr>
                                <th>Department</th>
                                <td>xxxxxx</td>

                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>xxxxxx@mail.com</td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                 </div>

<!-- users list -->
                      <div th:if="${filter == 'userList' }" >
                    <div class="card"  >
                        <!--  <img class="card-img-top" src="..." alt="Card image cap">-->
                        <div class="card-body">
                            <h5 class="card-title userlist">User Managment </h5>
                            <p class="card-text"></p>
                            <!--  <a href="#" class="btn btn-primary">Go somewhere</a>-->
                            <table class="table">
                                <thead>
                                <tr>
                                   <!-- <th scope="col">#</th>-->
                                    <th scope="col">Name</th>
                                    <th scope="col">Facility</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Email Id</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Last Login Time</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user: ${userList}">
                                   <!-- <th scope="row">1</th>-->
                                    <td th:text="${user.name}"/>
                                    <td th:text="${user.facility}" />
                                    <td th:text="${user.roles[0].role}" />
                                    <td th:text="${user.email}" />
                                    <td th:text="${user.address}" />
                                    <td th:text="${user.lastLoginTime}" />

                                    <td th:text="${user.active ? 'ACTIVE' : 'INACTIVE'}" />
                                    <td> <a href="#" >EDIT</a> / <a href="#" >DELETE</a>  </td>


                                   <!-- <td>Yes</td>-->
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- users list  end-->
            </div>
        </div>
    </div>






<!--<img class="wave" src="img/wave.png">-->
<!--<div class="container">-->
<!--    &lt;!&ndash;<div class="img">-->
<!--       <img src="images/cgi.jpg"   style="rounded" alt="">-->
<!--   </div>&ndash;&gt;-->
<!--    <div class="login-content">-->
<!--        <form th:action="@{/login}" method="post">-->
<!--            &lt;!&ndash;<form  method="post"  th:action="@{/login}" >&ndash;&gt;-->
<!--            <fieldset>-->
<!--                <img src="/images/avatar.svg"></img>-->
<!--                <h2 class="title">Welcome</h2>-->
<!--                <div class="input-div one">-->
<!--                    <div class="i">-->
<!--                        <i class="fas fa-user"></i>-->
<!--                    </div>-->
<!--                    <div class="div">-->
<!--                        <h5>Username</h5>-->
<!--                        <input type="text" class="input" id="username" name="username"/>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="input-div pass">-->
<!--                    <div class="i">-->
<!--                        <i class="fas fa-lock"></i>-->
<!--                    </div>-->
<!--                    <div class="div">-->
<!--                        <h5>Password</h5>-->
<!--                        <input type="password"  id="password"  class="input" name="password"/>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <a href="#">Forgot Password?</a>-->
<!--                <input type="submit" class="btn" value="Login"/>-->
<!--            </fieldset>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
 <script type="text/javascript"   src="../../static/js/main.js"></script>
admin page
</body>
</html>
